<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>task-5</title>
  </head>
  <body>
    <div id="app"></div>
    <footer class="footer">
      <p class="visually-hidden">Loading page...</p>
    </footer>
  </body>
</html>
