<template>
  <div>
    <main-header title='Cart' back-button-to="/" :not-cart-view="false"/>
    <cart :ItemsInCart="ItemsInCart"/>
  </div>
</template>

<script>
import MainHeader from '../components/MainHeader.vue'
import Cart from '../components/Cart.vue'

export default {
  name: 'CartView',

  components: {
    Cart,
    MainHeader
  },

  computed: {
    ItemsInCart () {
      return this.$store.getters.getItemsInCart;
    }
  }
}
</script>

<style>
</style>
