<template>
  <div>
    <main-header  :title="categoryTitle" back-button-to="/" />
    <item-list :products="filteredProducts" />
  </div>
</template>

<script>
import MainHeader from '../components/MainHeader.vue'
import ItemList from '../components/ItemList.vue'

export default {
  name: 'CategoryView',

  components: {
    ItemList,
    MainHeader
  },

  props: {
    categoryTitle : {
      type: String,
      require: true
    },

    categoryId: {
      type: String,
      require: true
    }
  },

  computed: {
    filteredProducts: function () {
      return this.$store.state.products.filter(i => i.category === this.categoryId);
    },
  },
};

</script>

<style>
</style>
