<template>
  <div>
    <main-header title="Shopping Cart — Make Purchases Now!" />
    <category-list :categories="this.$store.state.categories" @selected="categorySelected"/>
  </div>
</template>

<script>
import MainHeader from '../components/MainHeader.vue'
import CategoryList from '../components/CategoryList.vue'

export default {
  name: 'HomeView',
  components: {
    CategoryList,
    MainHeader
  },
  data: function() {
    return {
      selectedCategory: false,
    }
  },
  methods: {
    categorySelected: function (categoryId) {
      this.selectedCategory = categoryId;
    },
  }
}
</script>

<style>
</style>
