<template>
  <div>
    <h1>Page Not Found</h1>
    <router-link to="/">Go Home LINK</router-link>
  </div>
</template>

<script>
export default {
  name: 'PageNotFoundView'
}
</script>

<style>
</style>
