<template>
  <div v-bind:class="{'item-amount': size === 'large', 'cart-item-amount': size === 'small'}">
    <button class="button"
            v-bind:class="{'minus-amount': size === 'large', 'cart-minus-amount': size === 'small'}"
            @click="deleteFtomItemToCart(productId)"
            >-</button>
      <div v-bind:class="{'amount-text': size === 'large', 'cart-amount-text': size === 'small'}">
        <p v-show="size === 'large'">amount</p>
        <span> {{$store.getters.getAmounById(productId)}} </span>
      </div>
    <button class="button"
            v-bind:class="{'plus-amount': size === 'large', 'cart-plus-amount': size === 'small'}"
            @click="addItemToCart(productId)"
            >+</button>
  </div>
</template>


<script>

export default {
  name: 'Amount',
  props: {
    size: {
      default: 'small',
      validator: function (value) {
        return ['small', 'large'].indexOf(value) !== -1;
      },

    },
    productId: {
      type: Number
    },
  },

  methods: {
    addItemToCart () {
      this.$store.commit('addToCart', this.productId)
    },

    deleteFtomItemToCart () {
      this.$store.commit('subFromCart', this.productId)
    }
  }
}
</script>


<style>
  .cart-minus-amount,
  .cart-plus-amount {
    width: 20px;
    height: 20px;
  }

   .cart-amount-text {
    margin-left: 15px;
  }

  .item-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 80px;
    background-color: #4ea686;
    margin-top: 10px;
    text-align: center;
    padding: 0 20px;
  }

  .item-amount button {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    background-color: #4ea686;
    color: white;
    font-size: 37px;
    line-height: 1px;
  }

  .amount-text p{
    color: white;
    font-size: 15px;
    font-weight: 300;
  }

  .amount-text span{
    font-size: 32px;
    font-weight: 400;
    color: white;
  }
</style>

