<template>
  <router-link to="/" class="back-button">
    <button type="submit">
        <img src="../assets/backbutton.png" alt="back">
    </button>
  </router-link>
</template>

<script>
export default {
  name: 'BackButton',
}
</script>

<style>
  .back-button {
    position: absolute;
    left: -70px;
    top: 15px;
  }
  .back-button button {
    background-color: transparent;
  }

</style>
