<template>
  <router-link to="/cart/">
    <form class="cart-open">
      <button class="cart-button" type="submit">
        <img src="../assets/cart.png" alt="cart">
        <span class="sum-price">${{ $store.getters.getTotalSum }}</span>
      </button>
    </form>
  </router-link>
</template>

<script>
export default {
  name: 'CartButton',
}
</script>

<style>
.cart-button {
  width: 280px;
  height: 60px;
  background-color: #d9644a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
}

.sum-price {
  color: #ffffff;
  font-size: 27px;
}

</style>
