<template>
  <section class="main-cart-wrapper">
    <div class="cart-wrapper">
      <table>
        <thead class="cart-table-head">
          <tr class="first-row">
            <th>Shop List</th>
            <th>Amount</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody class="cart-table">
          <tr class="cart-item-row"
              v-for="item in $store.getters.getProductsInCart" :key="item.id">
            <td>
              <div class="colum1-wrapper">
                <button class="cart-delete-item button"
                        @click="clearProductFromCart(item.id)">
                  <svg aria-hidden="true" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg>
                </button>
                <p class="cart-item-title">{{ item.product.title }}</p>
              </div>
            </td>
            <td>
              <amount :productId="item.id"/>
            </td>
            <td class="item-summ">${{ item.product.price * item.amount }}</td>
        </tr>

        <tr id="last-row">
          <td colspan="3">
            <div class="last-row-wrapper">
              <button class="cart-clear button"
                      @click="clearCart()">Clear All</button>
              <p>Sum $<span>{{$store.getters.getTotalSum}}</span></p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <form class="cart-button-box">
        <router-link to="/">
          <button class="back-shopping button">Continue shopping</button>
        </router-link>
        <button class="buy button"
                @click="buyCart()">Buy</button>
      </form>
    </div>
  </section>
</template>

<script>
  import Amount from './Amount.vue'

  export default {
    name: 'Cart',

    components: {
      Amount
    },

    methods: {
      clearCart () {
        this.$store.commit('clearCart');
      },

      clearProductFromCart (id) {
        this.$store.commit('removeItemFromCart', id);
      },

      buyCart () {
        alert('the total price of your purchases is $' + this.$store.getters.getTotalSum);
        this.$store.commit('clearCart');
      },
    }
  }
</script>

<style>
  .main-cart-wrapper {
    width: 90%;
    max-width: 1366px;
    margin: 10px 0;
    margin-left: 100px;
    margin-top: 38px;
  }

  @media (min-width: 1370px) {
    .main-cart-wrapper {
      margin: 10px auto;
      margin-top: 38px;
    }
  }

  .cart-wrapper {
  width: 600px;
  }

  .cart-delete-item {
  width: 30px;
  height: 30px;
}

  .cart-delete-item svg {
    width: 14px;
  }

  .cart-clear,
  .buy,
  .back-shopping {
    height: 30px;
  }

  table {
    border-collapse: collapse;
    color: white;
    background-color: #da634b;
    border: none;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border: none;
  }

  th {
    font-size: 28px;
    font-weight: 400;
    padding: 5px 0px 7px 20px;
  }

  tr td:nth-child(2),
  tr td:nth-child(3),
  tr th:nth-child(2),
  tr th:nth-child(3) {
    text-align: right;
    padding-right: 20px;
  }


  tr th:nth-child(2) {
    text-align: center;
  }

  tr td:nth-child(2) {
    padding-left: 45px;
  }

  td {
    font-family: segoe-light;
    font-size: 28px;
    padding: 5px 0px 7px 20px;
  }

  .colum1-wrapper,
  .cart-item-amount {
    display: flex;
    align-items: center;
    line-height: 38px;
  }

  .colum1-wrapper p,
  .cart-plus-amount {
    margin-left: 20px;
  }

  .cart-table tr:nth-child(odd) {
    background-color: #bf613f;
  }

  .cart-table-head {
     background-color: #da634b;
  }

  .cart-table tr:last-child {
    background-color: #343e40;
  }

  .cart-table tr:last-child td{
    font-family: segoe-regular;
    font-size: 28px;
    font-weight: 400;
  }

  .last-row-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
  }

  .cart-button-box {
    background-color: #4ea686;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .cart-clear,
  .buy {
    width: 100px;
  }

  .back-shopping {
    width: 150px;
  }
</style>
