<template>
  <section class="main-item-list-wrapper">
    <ul class="main-item-list">
      <router-link :to="'/category/'+item.title+'/'+item.id" tag="li"
                    class="main-item"
                    v-for="(item, index) in categories"
                    :key="index">
        <a class="main-item-href">
          <div class="item-photo">
            <img v-bind:src="'./img/' + item.image" :alt="item.image">
          </div>
          <h3 class="item-header">{{item.title}}</h3>
        </a>
      </router-link>
    </ul>
  </section>
</template>

<script>

export default {
  name: 'CategoryList',
  props: {
    categories: {
      type: Array,
      required: true
    }
  }
}
</script>

<style>
.main-item-list-wrapper {
  width: 90%;
  max-width: 1366px;
  margin: 10px 0;
  margin-left: 100px;
  overflow-x: scroll;
  margin-top: 38px;
}

@media (min-width: 1370px) {
  .main-item-list-wrapper {
    overflow-x: auto;
    margin: 10px auto;
    margin-top: 38px;
  }
}

.main-item {
  position: relative;
  overflow: hidden;
}

.main-item-list {
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px 180px 180px;
  grid-gap: 10px;
  width: 1366px;
}

.main-item .item-photo{
  border: none;
}

.main-item {
  border: 2px solid transparent;
}

.main-item:hover {
  border: 2px solid #d9644a;
}

.main-item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.main-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.main-item:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}

.main-item:nth-child(4) {
  grid-area: 1 / 4 / 2 / 6;
}

.main-item:nth-child(6) {
  grid-area: 2 / 3 / 4 / 4;
}
</style>
