<template>
  <section class="item-list-wrapper">
    <ul class="category-item-list">
      <li class="category-item" v-for="item in products" :key="item.id">
        <div class="item-photo">
          <img class="item-photo-src" :src="'./img/' + item.img" alt="item-tshirts">
        </div>
        <div class="item-text">
          <h3 class="item-header">{{ item.title }}</h3>
          <span class="item-price">{{ '$'+ item.price }}</span>
        </div>
        <div>
          <amount size="large"  :productId="item.id"/>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
import Amount from './Amount.vue'

export default {
  name: 'ItemList',

  props: {
    products: {
      type: Array,
      required: true
    }
  },

  components: {
    Amount
  },

  methods : {
    getAmount (id) {
      return this.$store.getters.getAmounById(id);
    }
  }
}
</script>

<style>
  .item-list-wrapper {
    width: 90%;
    max-width: 1366px;
    margin: 10px 0;
    margin-left: 100px;
    overflow-x: scroll;
    margin-top: 38px;
  }

  @media (min-width: 1370px) {
    .item-list-wrapper {
      overflow-x: auto;
      margin: 10px auto;
      margin-top: 38px;
    }
  }

  .category-item {
    position: relative;
    overflow: hidden;
  }

  .item-photo,
  .item-text {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  .item-photo {
    border-top: 2px solid transparent;
  }

  .category-item .item-photo {
    height: 370px;
  }

  .item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    position: absolute;
    bottom: 90px;
    background-color: rgba(255,255,255,0.8);
    width: calc(100% - 40px);
    border-bottom: 2px solid transparent;
  }


  .item-header {
    font-family: segoe-regular;
    font-size: 21px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    padding: 10px 10px;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
  }

  .category-item-list {
    display: flex;
    justify-content: flex-start;
  }

  .category-item {
    width: 360px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .category-item:hover .item-photo{
    border-top: 2px solid #d9644a;
    border-left: 2px solid #d9644a;
    border-right: 2px solid #d9644a;
  }

  .category-item:hover .item-text{
    border-bottom: 2px solid #d9644a;
    border-left: 2px solid #d9644a;
    border-right: 2px solid #d9644a;
  }

  .item-photo {
    display: flex;
  }

  .item-photo img{
    object-fit: cover;
    width: 100%;
    height: auto;
  }

    .item-text .item-header {
    position: unset;
    background-color: unset;
    padding: 0;
  }

  .item-price {
    color: #d9644a;
    font-size: 32px;
    font-weight: 400;
  }

  .item-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 80px;
    background-color: #4ea686;
    margin-top: 10px;
    text-align: center;
    padding: 0 20px;
  }

  .item-amount button {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    background-color: #4ea686;
    color: white;
    font-size: 37px;
    line-height: 1px;
  }

  .amount-text p{
    color: white;
    font-size: 15px;
    font-weight: 300;
  }

  .amount-text span{
    font-size: 32px;
    font-weight: 400;
    color: white;
  }



</style>
