<template>
  <header class="main-header">
    <div class="main-header-wrapper">
      <back-button v-show="backButtonTo" />
      <h1 class="main-head">{{ title }}</h1>
      <cart-button v-show="notCartView"/>
    </div>
  </header>
</template>

<script>
import CartButton from './CartButton.vue'
import BackButton from './BackButton.vue'

export default {
  name: 'MainHeader',

  props: {
    title: {
      type: String,
      required: true,
    },

    backButtonTo: {
      type: String
    },

    notCartView: {
      type: Boolean,
      default: true
    }
  },

  components: {
    CartButton,
    BackButton
  }
}
</script>

<style>
.main-header {
  border-top: 5px solid #40c4c8;
  border-image: url(../assets/bg-top.png) 30;
}

.main-head {
font-size: 53px;
font-weight: 300;
}

.main-header-wrapper {
  width: 90%;
  max-width: 1366px;
  margin-left: 100px;
  margin-top: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 1370px) {
  .main-header-wrapper {
    margin: 0 auto;
    margin-top: 40px;
  }
}
</style>
