<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',

  mounted() {
      this.$store.dispatch('getCartFromLocalStorage')
  },
}
</script>

<style>
  body,
  div,
  h1,
  h2,
  h3,
  ul,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  a:link {
    color: #000000; }
  a:visited {
    color: #000000; }
  a:hover {
    color: #424242; }
  a:active {
    color: #000000; }

  @font-face{
    font-family: 'segoe-light';
    src: url('./assets/fonts/SegoeUILight.ttf');
  }

  button {
    border: none;
    text-decoration: none;
    background-color: unset;
    padding: 0;
    margin: 0;
  }

  @font-face{
    font-family: 'segoe-regular';
    src: url('./assets/fonts/SegoeUIRegular.ttf');
  }

  body {
    font-family: segoe-regular;
  }

  h1,
  h2 {
    font-family: segoe-light;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }

  .footer {
    border-bottom: 5px solid #40c4c8;
    border-image: url(../public/img/bg-top.png) 30;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .category-head {
    font-size: 48px;
    font-weight: 300;
  }

  .button {
    border: 2px solid #ffffff;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  .block-hide {
    display: none;
  }
</style>
